*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 29, 29);
    color: #fff;
}
ul,li,a{
    list-style: none;
    text-decoration: none;
}
.wrapper{
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px,auto) 1fr minmax(70px,auto) / 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
.header{
    grid-area: header;
    padding: 15px;
    background-color: #794f45;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
}
.header__logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    grid-column: 2 / 3;
}
.header__menu{
    grid-column: 3 / 4;
}
.header__link{
    color: #fff;
    font-size: 18px;
}
.header__list{
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}
.header__list li{
    margin: 0 0 0 30px;
}
.content__title,.gallery__title{
    margin: 10px;
}
.main{
    padding: 30px 15px;
}
.sidebar{
    background-color: #7a956b;
    padding: 30px 15px;
    margin: 0 0 30px 0;
}
.sidebar__list li{
    margin: 0 0 15px 0;
}
.sidebar__link{
    color: #fff;
    font-size: 20px;
}

.content__gallery{
    margin: 0 0 30px 0;
}
@media screen and (min-width:992px){
    .main{
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
        grid-area:main ;
    }
    .sidebar{
        grid-column: 2 / 3;
        margin: 0;
    }
    .content{
    grid-column: 3 / 4;
    padding: 0 0 0 30px;
}
}
.gallery__items{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.gallery__item{
    position: relative;
    padding: 0 0 85% 0;
}
.gallery__items img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width:767px){
    .gallery__item_big{
    grid-column: span 2;
    grid-row: span 2;
}

}
.products__item{
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px,auto) / 1fr;
}
.products__items{
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.products__image{
    position: relative;
    padding: 0 0 90% 0;
    margin: 0 0 20px 0;
}
.products__image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.products__name{
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    margin: 0 0 20px 0;
}
.products__button{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    line-height: 40px;
    justify-self: start;
    background-color: #77608d;
    padding: 0 20px;
}
.footer{
    background-color: #77608d;
    display: grid;
    grid-area: footer;
    padding: 15px;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
}
.footer__copy{
    grid-column: 2 /3;
}
.footer__text{
    text-align: right;
    grid-column: 3 / 4;
}